body{
    background:rgb(250, 117, 250);
    color: rgb(255, 255, 255);
}

.heading{
    width:80%;
    font-size:22px;
}

.Name_of_objects, #result_object_name, #result_object_accuracy
{
    color: rgb(255, 0, 0) ;
}

#camera, #result
{
    border: dotted 10px rgb(181, 0, 252);
    width: 350px;
    height: 300px;
}